
.secao{
    display: inline-block;
    height: 100vh; /* Altura igual à altura da janela de visualização */
    box-sizing: border-box; /* Inclui padding e bordas na largura */
    padding: 20px; /* Espaçamento interno para o conteúdo da seção */
    background-color: blueviolet;
    position: relative; 
  
}
    
.secao2{
    width: 76%; /* Largura igual à metade da janela de visualização */
    height: 100vh; /* Altura igual à altura da janela de visualização */
    float: right; /* Alinha as seções lado a lado */
    box-sizing: border-box; /* Inclui padding e bordas na largura */
    padding:20px; /* Espaçamento interno para o conteúdo da seção */
    background-color: #ccc;
}
.perfil{
    border-radius: 50%;
    position: relative;
    left: 50%;
    top: 20%;
    transform: translate(-50%, -50%);

}

h2{
 color: white;
}
h3{
    color: white;
}